  <div class="body">
    <div class="container">
      <p id="notice"></p>
        <div class="row">
          <div class="col-xs-3">

		    <h2>User info</h2>

              <table class="table">
                <tbody>
                <%= form_for(@user) do |f| %>

                  <tr>
                    <th>name <%= f.text_field :name %></th>
                  </tr>
                  <tr>
                  	<th>Image</th>
                  </tr>
                  <tr>
                    <th>introduction</th>
                  </tr>
                  <tr>
                    <th><%= f.submit 'Update User' %></th>
                  </tr>

                <% end %>
              </tbody>
            </table>
          </div>
        </div>
    </div>
  </div>
